{% extends "base.html" %}
{% block title %}AANMELDEN LUUK OPEN 2021{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <table class="table" align="center" style="width: 400px">
            <form method="post">
                {% csrf_token %}
                {{ form.as_table }}
                <tr>
                    <th></th>
                    <th style="text-align:center">
                        <a href=luukopen21/lijstaanmeldingen><input style="width:250px" type="submit"
                                                                    class="button is-primary"
                                                                    value="Ik meld me aan voor de LO 2021"/></a>
                    </th>
                </tr>
            </form>
        </table>
    {% else %}
        Log eerst in om je aan te melden.
        Mocht je nog geen account hebben, maak dan een account aan.
    {% endif %}
{% endblock %}
