{% extends  'base.html' %}
{% load static %}
{% block title %}
    <table class="table" ALIGN="center">
        <tr>
            <th style="text-align:center">
                PROGRAMMA ZATERDAG<br>
                <br>
                RYDER CUP: FOURBALLS
            </th>
        </tr>
        <tr>
            <th style="text-align:center">
                <i class="fas fa-golf-ball"></i>
            </th>
        </tr>
    </table>
{% endblock title %}
{% block content %}
    {% if user.is_authenticated %}
        <table class="table" ALIGN="center">
            <tr>
                <th>
                    Locatie: Rijk van Nunspeet<br>
                    Plesmanlaan 30<br>
                    8072 PT Nunspeet<br>
                    2 Buggies aanwezig<br>
                    <br>
                    Spelvorm: Fourballs<br>
                    Lus: Oost of Noord
                </th>
            </tr>
            <tr>
                <td>
                    <strong>Flight 1: 12:51 uur Oost</strong><br>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Flight 2: 12:51 uur Noord</strong><br>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Flight 3: 13:00 uur Oost</strong><br>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Flight 4: 13:00 uur Noord</strong><br>
                </td>
            </tr>
                    <tr>
                <th style="text-align:center">
                    <a href=/luukopen21/zaterdag><input style="width:250px" type="submit"
                                                      class="button is-primary"
                                                      value="Terug naar Zaterdag"/></a>
                </th>
            </tr>
        </table>
    {% else %}
        <table class="table" ALIGN="center">
            <tr>
                <th style="text-align:center">
                    <a href=/accounts/login><input style="width:250px" type="submit" class="button is-primary"
                                                   value="Inloggen"/></a>
                </th>
            </tr>
            <tr>
                <th style="text-align:center">
                    <a href=/common/signup><input style="width:250px" type="submit" class="button is-primary"
                                                  value="Sign-up"/></a>
                </th>
            </tr>
        </table>
    {% endif %}
{% endblock content %}