{% extends "base.html" %}
{% block title %}HUIDIGE AANMELDINGEN{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        {% if deelnemers %}
            <table class="table" align="center" style="width: 400px">
                <tr>
                    <th>Nr.</th>
                    <th>Naam</th>
                    <th>Hcp</th>
                    <th>Buggy</th>
                    <th>Huurset</th>
                    <th>Pre-Luuk Open</th>
                </tr>
                {% for deelnemer in deelnemers %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ deelnemer.naam }}</td>
                    <td>{{ deelnemer.ehcp }}</td>
                    {% if deelnemer.buggy %}
                        <td>Ja</td>
                    {% else %}
                        <td>Nee</td>
                    {% endif %}
                    {% if deelnemer.huurset %}
                        <td>Ja</td>
                    {% else %}
                        <td>Nee</td>
                    {% endif %}
                    {% if deelnemer.preluukopen %}
                        <td>Ja</td>
                    {% else %}
                        <td>Nee</td>
                    {% endif %}
                {% endfor %}
                </tr>
            </table>
            <table class="table" align="center" style="width: 400px">
                <tr>
                <th style="text-align:center">
                    <a href=/luukopen21/usermenu><input style="width:250px" type="submit"
                                                      class="button is-primary"
                                                      value="Terug naar Hoofdmenu"/></a>
                </th>
            </tr>
            </table>
        {% endif %}
    {% else %}
        Log eerst in om je aan te melden.
        Mocht je nog geen account hebben, maak dan een account aan.
    {% endif %}
{% endblock %}
