{% extends "base.html" %}
{% block title %}PRAKTISCHE INFO LUUK OPEN 2021{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <table class="table" align="center" style="width: 400px">
            <tr>
                <th></th>
                <th>
                    PROGRAMMA <br> (ONDER VOORBEHOUD)
                </th>
            </tr>
            <tr>
                <th></th>
                <th>
                    LOCATIE
                </th>
            </tr>
            <tr>
                <td>Golf:</td>
                <td>
                    Utrecht, Flevoland en Gelderland
                </td>
            </tr>
            <tr>
                <td>Overnachting</td>
                <td>
                    Landal Waterparc Veluwemeer
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    Huisje 54 (12p) en 41 (8p)
                </td>
            </tr>
            </tr>
            <tr>
                <th></th>
                <td>
                    Let op: Beschikbaar al vanaf maandag 6 sept!
                </td>
            </tr>
            <tr>
                <td>Alle dagen</td>
                <td>
                    Digital game: the scum of the universe
                </td>
            </tr>
            <tr>
                <th></th>
                <th>
                    DONDERDAG
                </th>
            </tr>
            <tr>
                <td>10:00</td>
                <td>
                    Pre Luuk Open
                </td>
            </tr>
            <tr>
                <td>17:00</td>
                <td>
                    LO Spel 1: Black balls
                </td>
            </tr>
            <tr>
                <td>21:00</td>
                <td>
                    Grand opening: Black dress matters
                </td>
            </tr>
            <tr>
                <th></th>
                <th>
                    VRIJDAG
                </th>
            </tr>
            <tr>
                <td>09:00</td>
                <td>
                    Heather Locklear
                </td>
            </tr>
            <tr>
                <td>13:00</td>
                <td>
                    Give me my clubs black!
                </td>
            </tr>
            <tr>
                <td>tbd</td>
                <td>
                    Men in black
                </td>
            </tr>
            <tr>
                <th></th>
                <th>
                    ZATERDAG
                </th>
            </tr>
            <tr>
                <td>Hele dag</td>
                <td>
                    Ryder Cup
                </td>
            </tr>
            <tr>
                <th></th>
                <th>
                    ZONDAG
                </th>
            </tr>
            <tr>
                <td>tbd</td>
                <td>
                    Finaledag
                </td>
            </tr>
            <tr>
                <th></th>
                <th style="text-align:center">
                    <a href=/luukopen21/usermenu><input style="width:250px" type="submit"
                                                        class="button is-primary"
                                                        value="Terug naar Hoofdmenu"/></a>
                </th>
            </tr>
        </table>
    {% else %}
        Log eerst in om je aan te melden.
        Mocht je nog geen account hebben, maak dan een account aan.
    {% endif %}
{% endblock %}
