{% extends "base.html" %}
{% block title %}VEILING RESULTATEN{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        {% if error %}
            {{ error }}
        {% else %}
            <table class="table" align="center">
            <tr>
                <th style="background-color: #00d1b2;color: white">Toegewezen biedingen voor: {{ league }}</th>
            </tr>
            </table>
            <table class="table" align="center">
                {% for team in teams %}
                <tr><th></th><th></th><th></th><th></th></tr>
                <tr>
                    <th style="background-color: #00d1b2;color: white">{{ team.name }}</th>
                    <th style="background-color: #00d1b2;color: white"></th>
                    <th style="background-color: #00d1b2;color: white"></th>
                    <th style="background-color: #00d1b2;color: white">{{ team.betcoins }}</th>
                </tr>
                    {% for bid in bids %}
                        {% if bid.team_id == team.id %}
                        <tr>
                            <td>{{ bid.player.first_name }} {{ bid.player.last_name }}</td>
                            <td>{{ bid.player.country }}</td>
                            <td>{{ bid.player.position }}</td>
                            <td>{{ bid.playerbid }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </table>
        {% endif %}
    {% endif %}
{% endblock %}
{% block helptext %}
    1. Give yourself a beautiful name<br>
    i.e. first name, alias or nickname<br>

{% endblock helptext %}