{% extends "base.html" %}
{% load static %}
{% block title %}BIEDRONDE 1{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        {% if error %}
            <table class="table" align="center">
                <tr>
                    <th>
                        <div class="notification is-info" ALIGN="center">
                            <button class="delete"></button>
                            {{ error }}
                        </div>
                    </th>
                </tr>
                <tr>
                    <th style="text-align:center">
                        <a href=euro2020><input style="width:250px" type="submit" class="button is-primary"
                                                value="Terug naar EURO2020"/></a>
                    </th>
                </tr>
            </table>
        {% else %}
            <form method="post">
                {% csrf_token %}
                {% if groups %}
                    <table class="table" align="center">
                        <tr>
                            <th style="text-align:center;width: 300px">
                                <a href="{% url 'listallbids' %}" name="Bids">Bekijk al jouw biedingen</a>
                            </th>
                        </tr>
                        {% for group in groups %}
                            <tr>
                                <td style="text-align:center">
                                    <p class="control has-icons-left" style="width:150px">
                                        <input style="width:300px; font-size: 20px;color: white; font-weight: bolder"
                                               type="submit"
                                               class="button is-primary"
                                               name="Bids" value="Bids GROUP {{ group }}"/>
                                        <span class="icon is-left">
                                                            {% with 'images/'|add:group|add:'png.png' as image_static %}
                                                                <img src="{% static image_static %}" width="35"
                                                                     height="30">
                                                            {% endwith %}
                                                        </span>
                                    </p>
                                </td>
                            </tr>
                            {% for country in countries %}
                                {% if country.openforbid %}
                                    {% if group == country.group %}
                                        <tr>
                                            <th style="text-align:center">
                                                 <span class="icon is-left">
                                                            {% with 'images/'|add:country.name|add:'.jpg' as image_static %}
                                                                <img src="{% static image_static %}" width="30"
                                                                     height="20">
                                                            {% endwith %}
                                                    </span>
                                                <a style="width:250px;align-self: center"
                                                   href="{% url 'bidspercountry' country.pk %}"
                                                   name="Bids">Biedingen spelers {{ country.nlname }}</a>
                                            </th>
                                        </tr>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </table>
                {% endif %}
            </form>
        {% endif %}
    {% endif %}

{% endblock %}
{% block helptext %}
{% endblock helptext %}
