{% extends "base.html" %}
{% block title %}CHANGE TEAM NAME{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <table class="table" ALIGN="center">
            <form action="" method="post">{% csrf_token %}
                <tr>
                    <th>
                        {% if error %}
                            <div class="notification is-danger" ALIGN="center">
                                <button class="delete"></button>
                                {% if error == "teamexists" %}
                                    This teamname already exists. Please Pick another one.
                                {% else  %}
                                    Unknown error.
                                {% endif %}
                            </div>
                        {% endif %}
                    </th>
                </tr>
                <tr>
                    <th>
                        <div class="field">
                            <p class="control has-icons-left">
                                <input class="input is-primary" id="id_teamname" name="teamname"
                                       placeholder="Until 1st auction name can be changed" type="text" required/>
                                <span class="icon is-left">
                                <i class="fas fa-user" style="font-size:20px;color:black"></i>
                        </span>
                                {{ field.errors }}
                            </p>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th style="text-align:center">
                        <input style="width:250px" type="submit" class="button is-primary" value="Change team name"/>
                    </th>
                </tr>
            </form>
        </table>

    {% endif %}
{% endblock %}
{% block helptext %}
    1. Give your team a name<br>
        Must be a unique name within this app<br>

{% endblock helptext%}