{% extends "base.html" %}
{% block title %}LEAGUE OVERVIEW{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        {% if error %}
            <table class="table" align="center">
                <tr>
                    <th>{{ error }}</th>
                </tr>
            </table>
        {% endif %}

        <table class="table" align="center">
            <tr>
                <th style="text-align:center">
                    Leaguename: {{ league }}
                </th>
            </tr>
            <tr>
                <th style="text-align:center">
                    League phase: {{ league.gamephase }}
                </th>
            </tr>
             <tr>
                <th style="text-align:center">
                    League balance: {{ league.leaguebalance }} betcoins
                </th>
            </tr>
            <tr>
                <th style="text-align:center">
                    <a href="{% url 'changeleaguephase' league.pk %}" class="button is-primary">Go to next Phase</a>
                </th>
            </tr>
            <tr>
                <th style="text-align:center">
                    <a href="{% url 'teamsperleague' league.pk %}" class="button is-primary">See Teams</a>
                </th>
            </tr>
            <tr>
                <th style="text-align:center">
                    <a href="{% url 'setupleagueteams' league.pk %}" class="button is-primary">Setup Teams</a>
                </th>
            </tr>
            <tr>
                <th style="text-align:center">
                    <a href="{% url 'setupleaguebids' league.pk %}" class="button is-primary">Setup bids</a>
                </th>
            </tr>
            <tr>
                <th style="text-align:center">
                    <a href="{% url 'auction' league.pk league.gamephase.pk %}" class="button is-primary">Start Auction</a>
                </th>
            </tr>
            <tr>
                <th style="text-align:center">
                    <a href="{% url 'assignedbidsperteam' league.pk %}" class="button is-primary">Bids per team</a>
                </th>
            </tr>
            <tr>
                <th style="text-align:center">
                    <a href="{% url 'rejectedbidsperteam' league.pk %}" class="button is-primary">Rejected Bids per team</a>
                </th>
            </tr>
            <tr>
                <th style="text-align:center">
                    <a href="{% url 'unassignedplayersperleague' league.pk %}" class="button is-primary">Unassigned Players</a>
                </th>
            </tr>
            <tr>
                <th style="text-align:center">
                    <a href="{% url 'deleteleaguedata' league.pk %}" class="button is-primary">Delete league</a>
                </th>
            </tr>
            <tr>
                <th style="text-align:center">
                    <a href="{% url 'leagueoverview' %}" class="button is-primary">League overview</a>
                </th>
            </tr>
        </table>
    {% endif %}
{% endblock %}
