{% extends "base.html" %}
{% load static %}
{% block title %}LEAGUE STAND{% endblock %}
{% block content %}
    {% if not loting %}
        <table class="table" align="center">
            <tr>
                <th>
                    <div class="notification is-info" ALIGN="center">
                        <button class="delete"></button>
                        Er heeftt nog geen loting plaatsgevonden voor deze league. Er is nog geen leaguestand.
                    </div>
                </th>
            </tr>
        </table>
    {% else %}
        <hr>
        {% for group in groups %}
            <h4 align="center" class="title is-4">Groep: {{ group }}</h4>
            <table class="table" align="center">
                <tr>
                    <th>Team</th>
                    <th>GS</th>
                    <th>W</th>
                    <th>G</th>
                    <th>V</th>
                    <th>PT</th>
                    <th>DV</th>
                    <th>DT</th>
                    <th>DF</th>
                </tr>
                {% for team in leagueteams %}
                    {% if group == team.group %}
                        <tr>
                            <th>{{ team.name }}</th>
                            <td>{{ team.GS }}</td>
                            <td>{{ team.W }}</td>
                            <td>{{ team.G }}</td>
                            <td>{{ team.V }}</td>
                            <th>{{ team.PT }}</th>
                            <td>{{ team.DV }}</td>
                            <td>{{ team.DT }}</td>
                            <td>{{ team.DF }}</td>
                            <td>{{ team.order }}</td>
                            <td>{{ team.POCOMMENT }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
            <table class="table" align="center">
                <tr>
                    <th>Wedstrijdschema</th>
                    <th>Thuisteam</th>
                    <th></th>
                    <th>Uitteam</th>
                    <th></th>
                    <th></th>
                    <th>Stand</th>
                    <th></th>

                </tr>
                {% for listitem in schemalist %}
                    <tr>
                        <th>{{ listitem.0 }}</th>
                        {% for team1 in leagueteams %}
                            {% if team1.order == listitem.1 %}
                                {% if team1.group == group %}
                                    <td>{{ team1.name }}</td>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        <td> -</td>
                        {% for team2 in leagueteams %}
                            {% if team2.order == listitem.2 %}
                                {% if team2.group == group %}
                                    <td> {{ team2.name }} </td>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        <td></td>
                        <td>Nog</td>
                        <td>Niet</td>
                        <td>gestart</td>
                    </tr>
                    <tr>
                        <th>{{ listitem.0 }}</th>
                        {% for team3 in leagueteams %}
                            {% if team3.order == listitem.3 %}
                                {% if team3.group == group %}
                                    <td>{{ team3.name }}</td>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        <td> -</td>
                        {% for team4 in leagueteams %}
                            {% if team4.order == listitem.4 %}
                                {% if team4.group == group %}
                                    <td> {{ team4.name }} </td>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        <td></td>
                        <td>Nog</td>
                        <td>Niet</td>
                        <td>gestart</td>
                    </tr>
                {% endfor %}
            </table>
        {% endfor %}
        <table class="table" align="center">
            <tr>
                <th style="text-align:center">
                    <a href=/euro2020/myleague><input style="width:250px" type="submit" class="button is-primary"
                                                      value="Terug naar Jouw League"/></a>
                </th>
            </tr>
        </table>
    {% endif %}
{% endblock content %}