{% extends "base.html" %}
{% load static %}
{% block title %}JOUW BOEKHOUDING{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <table class="table" ALIGN="center">
            {% if error %}
                <tr>
                    <th>
                        <div class="notification is-danger" ALIGN="center">
                            <button class="delete"></button>
                            {{ error }}
                        </div>
                    </th>
                </tr>
            {% endif %}
        </table>
        <table class="table" ALIGN="center">
            <tr>
                <th>
                    Inkomsten en Uitgaven team: {{ currentteam.name }}
                </th>
            </tr>
            <tr>
                <th>
                    Omschrijving
                </th>
                <th>
                    Bedrag
                </th>
            </tr>
            {% for boeking in jouwboekhouding %}
                <tr>
                    <td>
                        {{ boeking.boekingsopmerking }}
                    </td>
                    <td>
                        {{ boeking.aantalbetcoins }}
                    </td>
                </tr>
            {% endfor %}
                <tr>
                    <th>
                        Totale huidige budget
                    </th>
                    <th>
                        {{ currentteam.betcoins }}
                    </th>
                </tr>
        </table>
         <table class="table" ALIGN="center">
            <tr>
                <th style="text-align:center;width: 300px;">
                    <div class="control has-icons-left" align="center" style="width:300px">
                        <a href="{% url 'bidoverview' %}" style="width: 300px" class="button is-info is-hovered">No Save
                            & back to Bidoverview</a>
                        <span class="icon is-left">
                                <i class="fas fa-arrow-left" style="font-size:20px;color:white"></i>
                            </span>
                    </div>
                </th>
            </tr>
        </table>
    {% endif %}
{% endblock %}
{% block helptext %}
{% endblock helptext %}
