{% extends "base.html" %}
{% load static %}
{% block title %}JOUW TEAMGEGEVENS{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        {% if team %}
            <table class="table" ALIGN="center">
                {% if not betcoinbalance %}
                    <tr>
                        <th>
                            <div class="notification is-danger is-small" ALIGN="center">
                                <button class="delete"></button>
                                We hebben nog geen betaling ontvangen.
                            </div>

                        </th>
                    </tr>
                {% endif %}
                {% if not league %}
                    <tr>
                        <th>
                            <div class="notification is-info" ALIGN="center">
                                <button class="delete"></button>
                                Je dient nog een league te kiezen.
                            </div>
                        </th>
                    </tr>
                {% endif %}
            </table>
            <table class="table" ALIGN="center">
                <tr>
                    <td align="center" style="font-weight: bold">Algemeen</td>
                </tr>
                <tr>
                    <td>
                        <div class="field">
                            <p class="control has-icons-left">
                                <input class="input is-primary" id="id_team"
                                       name="team"
                                       placeholder="Please enter team name..." type="text" value="{{ team }}"
                                       style="width: 300px" disabled/>
                                <span class="icon is-left is-small">
                                    <i class="fas fa-users" style="font-size:20px;color:black"></i>
                                </span>
                            </p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>
                        <div class="field has-addons">
                            <div class="control has-icons-left">
                                <input class="input is-primary" style="width: 200px; color: black" value="{{ league }}"
                                       type="text"
                                       name="leaguename"
                                       id="leaguename"
                                       placeholder="Kies hier een league" disabled>
                                <span class="icon is-left">
                                    <i class="fas fa-list-ol" style="font-size:20px;color:black"></i>
                                </span>
                            </div>
                            <div class="control">
                                <a class="button is-primary" style="width: 100px" href={% url 'pickleague' %}>
                                    Kies League
                                </a>
                            </div>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th>
                        <div class="control has-icons-left">
                            <input class="input is-primary" style="width: 300px; color: black" value="{{ leaguephase }}"
                                   type="text"
                                   name="currentphase"
                                   id="currentphase"
                                   placeholder="League fase onbekend" disabled/>
                            <span class="icon is-left">
                                <i class="fas fa-history" style="font-size:20px;color:black"></i>
                            </span>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th>
                        <div class="control has-icons-left">
                            <input class="input is-primary" style="width: 300px; color: black"
                                   value="{{ betcoinbalance }}"
                                   type="text"
                                   name="betcoinbalance" id="betcoinbalance"
                                   placeholder="Betcoin" disabled/>
                            <span class="icon is-left">
                                <i class="fas fa-coins" style="font-size:20px;color:black"></i>
                            </span>
                        </div>
                    </th>
                </tr>
                </div>

                <tr>
                    <td align="center" style="font-weight: bold">Bid info</td>
                </tr>
                <tr>
                    <td>
                        <div class="field">
                            <p class="control has-icons-left">
                                <input class="input is-primary" id="id_team"
                                       name="team"
                                       placeholder="Enter max budget this bid round..." type="number" min="0" max="2000"
                                       value="{{ bidbudget }}"
                                       style="width: 300px" {{ disabled }}/>
                                <span class="icon is-left is-small">
                                    <i class="fas fa-coins" style="font-size:20px;color:black"></i>
                                </span>
                            </p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="field">
                            <p class="control has-icons-left">
                                <input class="input is-primary" id="id_gke"
                                       name="gke"
                                       placeholder="Enter max goalkeepers..." type="number" min="0" max="3"
                                       value="{{ maxbidgke }}"
                                       style="width: 300px" {{ disabled }}/>
                                <span class="icon is-left">
                                    <img src="{% static 'images/gke.png' %}" width="30" height="20">
                                </span>
                            </p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="field">
                            <p class="control has-icons-left">
                                <input class="input is-primary" id="id_def"
                                       name="def"
                                       placeholder="Enter max defenders..." type="number" min="0" max="8"
                                       value="{{ maxbiddef }}"
                                       style="width: 300px" {{ disabled }}/>
                                <span class="icon is-left">
                                    <img src="{% static 'images/def.png' %}" width="30" height="20">
                                </span>
                            </p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="field">
                            <p class="control has-icons-left">
                                <input class="input is-primary" id="id_mid"
                                       name="mid"
                                       placeholder="Enter max midfielders..." type="number" min="0" max="8"
                                       value="{{ maxbidmid }}"
                                       style="width: 300px" {{ disabled }}/>
                                <span class="icon is-left">
                                    <img src="{% static 'images/mid.png' %}" width="30" height="20">
                                </span>
                            </p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="field">
                            <p class="control has-icons-left">
                                <input class="input is-primary" id="id_att"
                                       name="att"
                                       placeholder="Enter max attackers..." type="number" min="0" max="5"
                                       value="{{ maxbidatt }}"
                                       style="width: 300px" {{ disabled }}/>
                                <span class="icon is-left">
                                    <img src="{% static 'images/att.png' %}" width="30" height="20">
                                </span>
                            </p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="font-weight: bold">Tactiek</td>
                </tr>
                <tr>
                    <td>
                        <div class="control has-icons-left">
                            <div class="select is-primary">
                                <select style="width: 300px">
                                    <option selected>Normal</option>
                                    <option>Offensive</option>
                                </select>
                                <span class="icon is-left is-small">
                                    <i class="far fa-lightbulb" style="font-size:20px;color:black"></i>
                                </span>

                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Line up and management</td>
                </tr>
            </table>
        {% else %}
            <table class="table" ALIGN="center">
                <tr>
                    <td>
                        <input type="submit" class="button is-primary" value="Make Team Name here"/></a>
                    </td>
                </tr>
            </table>
        {% endif %}
    {% endif %}
{% endblock %}
{% block helptext %}
    1. Give yourself a beautiful name<br>
    i.e. first name, alias or nickname<br>

{% endblock helptext %}