{% extends "base.html" %}
{% block title %}
    <table class="table" ALIGN="center">
        <tr>
            <th style="text-align:center">
                PROGRAMMA OXEL EURO 2020
            </th>
        </tr>
        <tr>
            <th style="text-align:center">
                <i class="fas fa-futbol"></i>
                <i class="fas fa-futbol"></i>
                <i class="fas fa-futbol"></i>
            </th>
        </tr>
    </table>
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <table class="table" ALIGN="center">
            <tr>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>

                <th>
                    VOORBEREIDING
                </th>
            </tr>


            <tr>
                <td>
                    ma
                </td>
                <td>
                    24-mei-2021
                </td>
                <td>
                    10:00 uur
                </td>

                <td>
                    Start inschrijving EURO 2020
                </td>
            </tr>


            <tr>
                <td>
                    ma
                </td>
                <td>
                    31-mei-2021
                </td>
                <td>
                    20:00 uur
                </td>

                <td>
                    Deadline betaling
                </td>
            </tr>


            <tr>
                <td>
                    di
                </td>
                <td>
                    01-jun-2021
                </td>
                <td>
                    12:00 uur
                </td>

                <td>
                    Loting per EURO 2020 league
                </td>
            </tr>


            <tr>
                <td>
                    wo
                </td>
                <td>
                    02-jun-2021
                </td>
                <td>
                    08:00 uur
                </td>

                <td>
                    Opening veiling 1<br/>
                    Te veilen landen: BEL, FRA,<br/>
                    ENG, POR, ESP, KRO, ITA, NED
                </td>
            </tr>


            <tr>
                <td>
                    vr
                </td>
                <td>
                    04-jun-2021
                </td>
                <td>
                    20.00 uur
                </td>

                <td>
                    Deadline veiling 1
                </td>
            </tr>


            <tr>
                <td>
                    za
                </td>
                <td>
                    05-jun-2021
                </td>
                <td>
                    08:00 uur
                </td>

                <td>
                    Resultaten veiling 1
                </td>
            </tr>


            <tr>
                <td>
                    za
                </td>
                <td>
                    05-jun-2021
                </td>
                <td>
                    08:00 uur
                </td>

                <td>
                    Opening veiling 2<br/>
                    Te veilen landen: DUI, ZWI,<br/>
                    DEN, ZWE, POL, WAL, OOS, OEK en<br/>
                    niet verkochte spelers veiling 1
                </td>
            </tr>


            <tr>
                <td>
                    ma
                </td>
                <td>
                    07-jun-2021
                </td>
                <td>
                    20.00 uur
                </td>

                <td>
                    Deadline veiling 2
                </td>
            </tr>


            <tr>
                <td>
                    di
                </td>
                <td>
                    08-jun-2021
                </td>
                <td>
                    08:00 uur
                </td>

                <td>
                    Resultaten veiling 2
                </td>
            </tr>


            <tr>
                <td>
                    di
                </td>
                <td>
                    08-jun-2021
                </td>
                <td>
                    08:00 uur
                </td>

                <td>
                    Opening veiling 3<br/>
                    Te veilen landen: FIN, RUS,<br/>
                    MAC, SCO, SLO, HON, TSJ, TUR en niet<br/>
                    verkochte spelers veiling 1 en 2
                </td>
            </tr>


            <tr>
                <td>
                    do
                </td>
                <td>
                    10-jun-2021
                </td>
                <td>
                    20.00 uur
                </td>

                <td>
                    Deadline veiling 3
                </td>
            </tr>


            <tr>
                <td>
                    vr
                </td>
                <td>
                    11-jun-2021
                </td>
                <td>
                    00:01 uur
                </td>

                <td>
                    Resultaten veiling 3
                </td>
            </tr>


            <tr>
                <td>
                </td>
                <td>

                </td>
                <td>
                </td>

                <th>
                    RONDE 1
                </th>
            </tr>


            <tr>
                <td>
                    vr
                </td>
                <td>
                    11-jun-2021
                </td>
                <td>
                    00:01 uur
                </td>

                <td>
                    Opstellingen Ronde 1
                </td>
            </tr>


            <tr>
                <td>
                    vr
                </td>
                <td>
                    11-jun-2021
                </td>
                <td>
                    20:45 uur
                </td>

                <td>
                    START GROEPSFASE 1
                </td>
            </tr>


            <tr>
                <td>
                </td>
                <td>

                </td>
                <td>
                </td>

                <th>
                    12 wedstrijden groepsfase 1
                </th>
            </tr>


            <tr>
                <td>
                    di
                </td>
                <td>
                    15-jun-2021
                </td>
                <td>
                    23:45 uur
                </td>

                <td>
                    EINDE GROEPSFASE 1
                </td>
            </tr>


            <tr>
                <td>
                </td>
                <td>

                </td>
                <td>
                </td>

                <th>
                    RONDE 2
                </th>
            </tr>


            <tr>
                <td>
                    wo
                </td>
                <td>
                    16-jun-2021
                </td>
                <td>
                    00:01 uur
                </td>

                <td>
                    Opstellingen Groepsfase 2
                </td>
            </tr>


            <tr>
                <td>
                    wo
                </td>
                <td>
                    16-jun-2021
                </td>
                <td>
                    15:00 uur
                </td>

                <td>
                    START GROEPSFASE 2
                </td>
            </tr>


            <tr>
                <td>
                </td>
                <td>

                </td>
                <td>
                </td>

                <th>
                    12 wedstrijden groepsfase 2
                </th>
            </tr>


            <tr>
                <td>
                    za
                </td>
                <td>
                    19-jun-2021
                </td>
                <td>
                    23:45 uur
                </td>

                <td>
                    EINDE GROEPSFASE 2
                </td>
            </tr>


            <tr>
                <td>
                </td>
                <td>

                </td>
                <td>
                </td>

                <th>
                    RONDE 3
                </th>
            </tr>


            <tr>
                <td>
                    zo
                </td>
                <td>
                    20-jun-2021
                </td>
                <td>
                    00:01 uur
                </td>

                <td>
                    Opstellingen Groepsfase 3
                </td>
            </tr>


            <tr>
                <td>
                    zo
                </td>
                <td>
                    20-jun-2021
                </td>
                <td>
                    18:00 uur
                </td>

                <td>
                    START GROEPSFASE 3
                </td>
            </tr>


            <tr>
                <td>
                </td>
                <td>

                </td>
                <td>
                </td>

                <th>
                    12 wedstrijden groepsfase 3
                </th>
            </tr>


            <tr>
                <td>
                    wo
                </td>
                <td>
                    23-jun-2021
                </td>
                <td>
                    23:45 uur
                </td>

                <td>
                    EINDE GROEPSFASE 3
                </td>
            </tr>


            <tr>
                <td>
                    wo
                </td>
                <td>
                    23-jun-2021
                </td>
                <td>
                    23:45 uur
                </td>

                <td>
                    VERWERKING GROEPSFASE
                </td>
            </tr>


            <tr>
                <td>
                    do
                </td>
                <td>
                    24-jun-2021
                </td>
                <td>
                    08:00 uur
                </td>

                <td>
                    FINALE UITSLAG GROEPSFASE
                </td>
            </tr>


            <tr>
                <td>
                    do
                </td>
                <td>
                    24-jun-2021
                </td>
                <td>
                    08:00 uur
                </td>

                <td>
                    Uitkeren Groepsfase premies
                </td>
            </tr>


            <tr>
                <td>
                </td>
                <td>

                </td>
                <td>
                </td>

                <th>
                    ACHTSTE FINALES
                </th>
            </tr>


            <tr>
                <td>
                    do
                </td>
                <td>
                    24-jun-2021
                </td>
                <td>
                    08:00 uur
                </td>

                <td>
                    Opening veiling Achtste finales
                </td>
            </tr>


            <tr>
                <td>
                    vr
                </td>
                <td>
                    25-jun-2021
                </td>
                <td>
                    20:00 uur
                </td>

                <td>
                    Deadline veiling Achtste finales
                </td>
            </tr>


            <tr>
                <td>
                    za
                </td>
                <td>
                    26-jun-2021
                </td>
                <td>
                    00:01 uur
                </td>

                <td>
                    Opstellingen Achtste finales
                </td>
            </tr>


            <tr>
                <td>
                    za
                </td>
                <td>
                    26-jun-2021
                </td>
                <td>
                    18:00 uur
                </td>

                <td>
                    START ACHTSTE FINALES
                </td>
            </tr>


            <tr>
                <td>
                </td>
                <td>

                </td>
                <td>
                </td>

                <th>
                    8 wedstrijden Achtste finales
                </th>
            </tr>


            <tr>
                <td>
                    di
                </td>
                <td>
                    29-jun-2021
                </td>
                <td>
                    23:45 uur
                </td>

                <td>
                    EINDE ACHTSE FINALES
                </td>
            </tr>


            <tr>
                <td>
                    di
                </td>
                <td>
                    29-jun-2021
                </td>
                <td>
                    23:45 uur
                </td>

                <td>
                    VERWERKING ACHTSE FINALES
                </td>
            </tr>


            <tr>
                <td>
                    wo
                </td>
                <td>
                    30-jun-2021
                </td>
                <td>
                    08:00 uur
                </td>

                <td>
                    FINALE UITSLAG ACHTSE FINALES
                </td>
            </tr>


            <tr>
                <td>
                    wo
                </td>
                <td>
                    30-jun-2021
                </td>
                <td>
                    08:00 uur
                </td>

                <td>
                    Uitkeren ACHTSE FINALES PREMIES
                </td>
            </tr>


            <tr>
                <td>
                </td>
                <td>

                </td>
                <td>
                </td>

                <th>
                    KWART FINALES
                </th>
            </tr>


            <tr>
                <td>
                    wo
                </td>
                <td>
                    30-jun-2021
                </td>
                <td>
                    08:00 uur
                </td>

                <td>
                    Opening veiling Kwart Finales
                </td>
            </tr>


            <tr>
                <td>
                    do
                </td>
                <td>
                    1-jul-2021
                </td>
                <td>
                    20:00 uur
                </td>

                <td>
                    Deadline veiling Kwart Finales
                </td>
            </tr>


            <tr>
                <td>
                    vr
                </td>
                <td>
                    02-jul-2021
                </td>
                <td>
                    00:01 uur
                </td>

                <td>
                    Opstellingen Kwart Finales
                </td>
            </tr>


            <tr>
                <td>
                    vr
                </td>
                <td>
                    02-jul-2021
                </td>
                <td>
                    18:00 uur
                </td>

                <td>
                    START KWART FINALES
                </td>
            </tr>


            <tr>
                <td>
                </td>
                <td>

                </td>
                <td>
                </td>

                <th>
                    4 wedstrijden Kwart finales
                </th>
            </tr>


            <tr>
                <td>
                    za
                </td>
                <td>
                    03-jul-2021
                </td>
                <td>
                    23:45 uur
                </td>

                <td>
                    EINDE KWART FINALES
                </td>
            </tr>


            <tr>
                <td>
                    zo
                </td>
                <td>
                    04-jul-2021
                </td>
                <td>
                    08:00 uur
                </td>

                <td>
                    FINALE UITSLAG KWART FINALES
                </td>
            </tr>


            <tr>
                <td>
                    zo
                </td>
                <td>
                    04-jul-2021
                </td>
                <td>
                    08:00 uur
                </td>

                <td>
                    Uitkeren Kwart Finale premies
                </td>
            </tr>


            <tr>
                <td>
                </td>
                <td>

                </td>
                <td>
                </td>

                <th>
                    HALVE FINALES
                </th>
            </tr>


            <tr>
                <td>
                    zo
                </td>
                <td>
                    04-jul-2021
                </td>
                <td>
                    08:00 uur
                </td>

                <td>
                    Opening veiling Halve finales
                </td>
            </tr>


            <tr>
                <td>
                    ma
                </td>
                <td>
                    05-jul-2021
                </td>
                <td>
                    18:00 uur
                </td>

                <td>
                    Deadline veiling Halve finales
                </td>
            </tr>


            <tr>
                <td>
                    di
                </td>
                <td>
                    06-jul-2021
                </td>
                <td>
                    00:01 uur
                </td>

                <td>
                    Opstellingen Halve finales
                </td>
            </tr>


            <tr>
                <td>
                    di
                </td>
                <td>
                    06-jul-2021
                </td>
                <td>
                    21:00 uur
                </td>

                <td>
                    START HALVE FINALES
                </td>
            </tr>


            <tr>
                <td>
                </td>
                <td>

                </td>
                <td>
                </td>

                <th>
                    2 wedstrijden Halve finales
                </th>
            </tr>


            <tr>
                <td>
                    wo
                </td>
                <td>
                    07-jul-2021
                </td>
                <td>
                    23:45 uur
                </td>

                <td>
                    EINDE HALVE FINALES
                </td>
            </tr>


            <tr>
                <td>
                    do
                </td>
                <td>
                    08-jul-2021
                </td>
                <td>
                    08:00 uur
                </td>

                <td>
                    FINALE UITSLAG HALVE FINALES
                </td>
            </tr>


            <tr>
                <td>
                    do
                </td>
                <td>
                    08-jul-2021
                </td>
                <td>
                    08:00 uur
                </td>

                <td>
                    Uitkeren Halve Finale premies
                </td>
            </tr>


            <tr>
                <td>
                </td>
                <td>

                </td>
                <td>
                </td>

                <th>
                    FINALE
                </th>
            </tr>


            <tr>
                <td>
                    do
                </td>
                <td>
                    08-jul-2021
                </td>
                <td>
                    08:00 uur
                </td>

                <td>
                    Opening veiling Finale
                </td>
            </tr>


            <tr>
                <td>
                    vr
                </td>
                <td>
                    09-jul-2021
                </td>
                <td>
                    22:00 uur
                </td>

                <td>
                    Deadline veiling Finales
                </td>
            </tr>


            <tr>
                <td>
                    za
                </td>
                <td>
                    10-jul-2021
                </td>
                <td>
                    08:00 uur
                </td>

                <td>
                    Opstellingen Finale
                </td>
            </tr>


            <tr>
                <td>
                    zo
                </td>
                <td>
                    11-jul-2021
                </td>
                <td>
                    21:00 uur
                </td>

                <td>
                    START FINALE
                </td>
            </tr>


            <tr>
                <td>
                </td>
                <td>

                </td>
                <td>
                </td>

                <td>
                    1 wedstrijd Finale
                </td>
            </tr>


            <tr>
                <td>
                    zo
                </td>
                <td>
                    11-jul-2021
                </td>
                <td>
                    23:45 uur
                </td>

                <td>
                    EINDE FINALE
                </td>
            </tr>


            <tr>
                <td>
                </td>
                <td>

                </td>
                <td>
                </td>

                <th>
                    PRIJSUITREIKING EN NAZORG
                </th>
            </tr>


            <tr>
                <td>
                    ma
                </td>
                <td>
                    12-jul-2021
                </td>
                <td>
                    08:00 uur
                </td>

                <td>
                    FINALE UITSLAG
                </td>
            </tr>


            <tr>
                <td>
                    ma
                </td>
                <td>
                    12-jul-2021
                </td>
                <td>
                    08:00 uur
                </td>

                <td>
                    Uitkeren Finale premies
                </td>
            </tr>


            <tr>
                <td>
                    ma
                </td>
                <td>
                    12-jul-2021
                </td>
                <td>
                    08:00 uur
                </td>

                <td>
                    Uitkeren teambudget aan deelnemer
                </td>
            </tr>
        </table>
        <table class="table" ALIGN="center">
        <tr>
                <th style="text-align:center">
                    <a href=euro2020><input style="width:250px" type="submit" class="button is-primary"
                                                       value="Terug naar EURO2020"/></a>
                </th>
            </tr>
        </table>
    {% else %}
        <h3 ALIGN="center" class="title is-h3">NOT LOGGED IN YET.</h3>
        <h3 ALIGN="center" class="title is-h3">PLEASE GO TO LOGIN PAGE</h3>

        <table class="table" ALIGN="center">
            <tr>
                <th style="text-align:center">
                    <a href=/accounts/login/><input style="width:250px" type="submit" class="button is-primary"
                                                    value="Ga naar Login"/></a>
                </th>
            </tr>
        </table>
    {% endif %}
{% endblock %}
