{% extends "base.html" %}
{% block title %}NIET TOEGEWEZEN SPELERS{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        {% if error %}
            {{ error }}
        {% elif players %}
            <table class="table" align="center">
                <tr>
                    <th style="background-color: #00d1b2;color: white">Spelers zonder ploeg voor league: {{ league }}</th>
                </tr>
            </table>
            <table class="table" align="center">
                <tr>
                    <th style="background-color: #00d1b2;color: white">Speler</th>
                    <th style="background-color: #00d1b2;color: white">Land</th>
                    <th style="background-color: #00d1b2;color: white">Pos.</th>
                </tr>
                {% for player in players %}
                    <tr>
                        <td>{{ player.first_name }} {{ player.last_name }}</td>
                        <td>{{ player.country }}</td>
                        <td>{{ player.position }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <table class="table" align="center">
                <tr>
                    <th>
                        <div class="notification is-info" ALIGN="center">
                            <button class="delete"></button>
                            De spelerslijst van de UEFA is nog niet ingevoerd
                        </div>
                    </th>
                </tr>
            </table>
        {% endif %}
    {% endif %}
{% endblock %}
