{% extends 'base.html' %}

{% block title %}INFO OVER LENTECUP APPLICATIE{% endblock %}

{% block content %}

    <div class="field">
        <div class="control">
            <textarea class="textarea is-primary" rows="5">
                A technical joint venture by LS and DVDM
            </textarea>
        </div>
    </div>

    <a href=/><input style="width:250px" type="submit" class="button is-primary"
                            value="Ga terug naar de Lentecup hoofdpagina"/>
    </a>
{% endblock %}