{% extends  'base.html' %}
{% block title %}
    <table class="table" ALIGN="center">
        <tr>
            <th style="text-align:center">
                OXELGAMES
            </th>
        </tr>
        <tr>
            <th style="text-align:center">
                <i class="fas fa-golf-ball"></i>
                <i class="fas fa-futbol"></i>
            </th>

        </tr>
    </table>
{% endblock title %}
{% block content %}
    {% if user.is_authenticated %}
        <table class="table" ALIGN="center">
            <tr>
                <th style="text-align:center">
                    <a href=/myaccount><input style="width:250px" type="submit" class="button is-primary"
                                              value="Jouw Profiel"/></a>
                </th>
            </tr>
            <tr>
                <th style="text-align:center">
                    <a href=/accounts/logout><input style="width:250px" type="submit" class="button is-primary"
                                                    value="Uitloggen"/></a>
                </th>
            </tr>
            {% if userlentecup %}
                <tr>
                    <th style="text-align:center;font-size: xx-large">
                        LENTECUP 2021
                    </th>
                </tr>
                <tr>
                    <th style="text-align:center">
                        <a href=/lentecup2021><input style="width:250px" type="submit" class="button is-primary"
                                                     value="Lentecup 2021"/></a>
                    </th>
                </tr>
            {% endif %}
            <tr>
                <th style="text-align:center;font-size: xx-large">
                    EURO 2020
                </th>
            </tr>
            {% if not euro2020active %}
                <tr>
                    <th style="text-align:center">
                        <a href=/euro2020><input style="width:250px" type="submit" class="button is-black"
                                                 value="EURO 2020 (Coming soon)" disabled/></a>
                    </th>
                </tr>
            {% else %}
                {% if usereuro2020 %}
                    <tr>
                        <th style="text-align:center">
                            <a href=/euro2020><input style="width:250px" type="submit" class="button is-primary"
                                                     value="Ga naar EURO 2020"/></a>
                        </th>
                    </tr>
                {% else %}
                    {% if euro2020openforsubscribing %}
                        <tr>
                            <th style="text-align:center">
                                <a href=/euro2020><input style="width:250px" type="submit" class="button is-info"
                                                         value="Aanmelden EURO 2020"/></a>
                            </th>
                        </tr>
                    {% else %}
                        <tr>
                            <th style="text-align:center">
                                <a href=/euro2020><input style="width:250px" type="submit" class="button is-black"
                                                         value="Inschrijving gesloten" disabled/></a>
                            </th>
                        </tr>
                    {% endif %}
                {% endif %}
            {% endif %}
            <tr>
                <th style="text-align:center;font-size: xx-large">
                    MASTERS 2021
                </th>
            </tr>
            <tr>
                <th style="text-align:center">
                    <a href=/masters2021><input style="width:250px" type="submit" class="button is-light"
                                                value="Masters 2021 (archief)"/></a>
                </th>
            </tr>
        </table>
    {% else %}
        <table class="table" ALIGN="center">
            <tr>
                <th style="text-align:center">
                    <a href=/accounts/login><input style="width:250px" type="submit" class="button is-primary"
                                                   value="Inloggen"/></a>
                </th>
            </tr>
            <tr>
                <th style="text-align:center">
                    <a href=/common/signup><input style="width:250px" type="submit" class="button is-primary"
                                                  value="Sign-up"/></a>
                </th>
            </tr>
        </table>
    {% endif %}
{% endblock content %}