{% extends  'base.html' %}
{% load static %}
{% block title %}
    <table class="table" ALIGN="center">
        <tr>
            <th style="text-align:center">
                OXELGAMES
            </th>
        </tr>
        <tr>
            <th style="text-align:center">
                <i class="fas fa-golf-ball"></i>
                <i class="fas fa-futbol"></i>
            </th>

        </tr>
    </table>
{% endblock title %}
{% block content %}
    {% if user.is_authenticated %}
        <table class="table" ALIGN="center">
            <tr>
                <th style="text-align:center">
                    <a href=/myaccount><input style="width:250px" type="submit" class="button is-primary"
                                              value="Jouw Profiel"/></a>
                </th>
            </tr>
            <tr>
                <th style="text-align:center">
                    <a href=/accounts/logout><input style="width:250px" type="submit" class="button is-primary"
                                                    value="Uitloggen"/></a>
                </th>
            </tr>
            <tr>
                <th style="text-align:center;font-size: xx-large">
                    Luuk Open 2021<br>
                     <img src="{% static 'images/mib.jpg' %}" width="300" height="1000">
                </th>
            </tr>
            {% if not luukopen2021active %}
                <tr>
                    <th style="text-align:center">
                        <a href=/LuukOpen><input style="width:250px" type="submit" class="button is-black"
                                                 value="Luuk Open 2021 (binnenkort)" disabled/></a>
                    </th>
                </tr>
            {% else %}
                {% if userluukopen2021 %}
                    <tr>
                        <th style="text-align:center">
                            <a href=/luukopen21/aanmelden><input style="width:250px" type="submit" class="button is-primary"
                                                     value="Luuk Open 2021"/></a>
                        </th>
                    </tr>
                {% else %}
                    {% if luukopen2021openforsubscribing %}
                        <tr>
                            <th style="text-align:center">
                                <a href=/luukopen21/aanmelden><input style="width:250px" type="submit" class="button is-info"
                                                         value="Aanmelden Luuk Open 2021"/></a>
                            </th>
                        </tr>
                    {% else %}
                        <tr>
                            <th style="text-align:center">
                                <a href=/LuukOpen><input style="width:250px" type="submit" class="button is-black"
                                                         value="Inschrijving gesloten" disabled/></a>
                            </th>
                        </tr>
                    {% endif %}
                {% endif %}
            {% endif %}
            <tr>
                <th style="text-align:center;font-size: xx-large">
                    ARCHIEF
                </th>
            </tr>
            <tr>
                <th style="text-align:center">
                    <a href=/euro2020><input style="width:250px" type="submit" class="button is-black"
                                             value="Ga naar EURO 2020"/></a>
                </th>
            </tr>
                 <tr>
                    <th style="text-align:center">
                        <a href=/lentecup2021><input style="width:250px" type="submit" class="button is-black"
                                                     value="LenteCup 2021 (gesloten)"/></a>
                    </th>
                </tr>

            <tr>
                <th style="text-align:center">
                    <a href=/masters2021><input style="width:250px" type="submit" class="button is-black"
                                                value="Masters 2021 (archief)"/></a>
                </th>
            </tr>
        </table>
    {% else %}
        <table class="table" ALIGN="center">
            <tr>
                <th style="text-align:center">
                    <a href=/accounts/login><input style="width:250px" type="submit" class="button is-primary"
                                                   value="Inloggen"/></a>
                </th>
            </tr>
            <tr>
                <th style="text-align:center">
                    <a href=/common/signup><input style="width:250px" type="submit" class="button is-primary"
                                                  value="Sign-up"/></a>
                </th>
            </tr>
        </table>
    {% endif %}
{% endblock content %}