{% extends "base.html" %}
{% block title %}Stand Masters 2021{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <table class="table" ALIGN="center">
            <tr>
                <th>
                    Nr.
                </th>
                <th>
                    Naam
                </th>
                <th>
                    Punten
                </th>
            </tr>
            {% if scores %}
                {% for key, value in scores.items %}
                    <tr>
                        <td>
                            {{ forloop.counter }}
                        </td>
                        <td>
                            {{ key }}
                        </td>
                        <td align="center">
                            {{ value }}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <th>
                        No scores yet
                    </th>
                    <th>
                    </th>
                </tr>
                </table>
            {% endif %}
        <table class="table" ALIGN="center">
            <tr>
                <th>

                </th>
                <th>
                    STAND ECHTE MASTERS
                </th>
            </tr>
            <tr>
                <th>
                </th>
                <th>
                    Stand van {{ standbijgewerkt }}
                </th>
            </tr>
            <tr>
                <th>
                    Nr.
                </th>
                <th>
                    Naam
                </th>
            </tr>
            {% for result in masterresults %}
                <tr>
                    <td>
                        {{ result.position }}
                    </td>
                    <td>
                        {{ result.first_name }} {{ result.last_name }}
                    </td>
                </tr>
            {% endfor %}
        </table>

        <table class="table" ALIGN="center">
           <tr>
                <th align="center">
                    <a href=/masters2021><input style="width:250px" type="submit" class="button is-info"
                                     value="Naar Master 2021 Homepage"/>
                    </a>
                </th>
            </tr>
        </table>
    {% endif %}
{% endblock %}