{% extends "base.html" %}
{% block title %}Jouw Spelers{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <table class="table" ALIGN="center" style="width: 300px">
            <tr>
                <th>
                    <div class="notification is-info" ALIGN="center">
                        <button class="delete"></button>
                        {{ message }}
                    </div>
                </th>
            </tr>
        </table>
        <table class="table" ALIGN="center">
            <tr>
                <th>
                    Plaats
                </th>
                <th>
                    Naam
                </th>
            </tr>
            {% for speler in gekozenspelers %}
                <tr>
                    <td>
                        {{ speler.eindplaats }}
                    </td>
                    <td>
                        {{ speler.speler.first_name }} {{ speler.speler.last_name }}
                    </td>
                </tr>
            {% endfor %}
        </table>
        <table class="table" ALIGN="center">
            <tr>
                <th align="center">
                    <a href=/masters2021><input style="width:250px" type="submit" class="button is-info"
                                     value="Naar Master 2021 Homepage"/>
                    </a>
                </th>
            </tr>
        </table>
    {% endif %}
{% endblock %}