{% extends "base.html" %}
{% block title %}JOUW UITSLAGEN{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <table class="table" ALIGN="center">
            <tr>
                <th>
                    Week
                </th>
                <th>
                    STBLF
                </th>
                <th>
                    Qual.
                </th>
                <th>
                    Punten
                </th>
            </tr>
            {% if scores %}
                {% for score in scores %}
                    <tr>
                        <td>
                            {{ score.week }}
                        </td>
                        <td align="center">
                            {{ score.score }}
                        </td>
                        {% if score.qualifying %}
                            <td align="center">
                                Ja
                            </td>
                        {% else %}
                            <td align="center">
                                Nee
                            </td>
                        {% endif %}
                        <td align="center">
                            {{ score.finalscore }}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <th>
                        No scores yet
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>
                </tr>
                </table>
            {% endif %}
        <table class="table" ALIGN="center">
            <tr>
                <th align="center">
                    <a href=/><input style="width:250px" type="submit" class="button is-primary"
                                     value="Naar Lentecup Homepage"/>
                    </a>
                </th>
            </tr>
        </table>
    {% endif %}
{% endblock %}