{% extends  'base.html' %}
{% block title %}
    <table class="table" ALIGN="center">
        <tr>
            <th style="text-align:center">
                LenteCup 2021
            </th>
        </tr>
        <tr>
            <th style="text-align:center">
                <i class="fas fa-golf-ball"></i>
                <i class="fas fa-golf-ball"></i>
                <i class="fas fa-golf-ball"></i>
            </th>

        </tr>
    </table>
{% endblock title %}
{% block content %}
    {% if user.is_authenticated %}
        <table class="table" ALIGN="center">
            <tr>
                <th style="text-align:center">
                    <a href=/standinvoer><input style="width:250px" type="submit" class="button is-primary"
                                                value="Voer je score in"/></a>
                </th>
            </tr>
            <tr>
                <th style="text-align:center">
                    <a href=/jouwuitslagen><input style="width:250px" type="submit" class="button is-primary"
                                                  value="Jouw uitslagen"/></a>
                </th>
            </tr>
            <tr>
                <th style="text-align:center">
                    <a href=/overallstandlc><input style="width:250px" type="submit" class="button is-primary"
                                                   value="Stand LenteCup"/></a>
                </th>
            </tr>
            <tr>
                <th style="text-align:center">
                    <a href=/weekuitslagen><input style="width:250px" type="submit" class="button is-primary"
                                                  value="Week Uitslagen"/></a>
                </th>
            </tr>
            </tr>
            <tr>
                <th style="text-align:center">
                    <a href=/><input style="width:250px" type="submit" class="button is-info"
                                                 value="Naar Homepage"/></a>
                </th>
            </tr>
        </table>
    {% else %}
        <table class="table" ALIGN="center">
            <tr>
                <th style="text-align:center">
                    <a href=/accounts/login><input style="width:250px" type="submit" class="button is-primary"
                                                   value="Inloggen"/></a>
                </th>
            </tr>
            <tr>
                <th style="text-align:center">
                    <a href=/common/signup><input style="width:250px" type="submit" class="button is-primary"
                                                  value="Sign-up"/></a>
                </th>
            </tr>
        </table>
    {% endif %}
{% endblock content %}