{% extends "base.html" %}
{% block title %}WEEKUITSLAGEN{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <table class="table" ALIGN="center">
            <tr>
                <th>
                    Naam
                </th>
                <th>
                    Stbf
                </th>
                <th>
                    Qualifying
                </th>
                <th>
                    Punten
                </th>
                <th>
                    Baan
                </th>
                <th>
                    Lus
                </th>
            </tr>
            {% if scores %}
                {% for week in weeks %}
                    <tr>
                        <th>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            {{ week }}
                        </th>
                    </tr>
                    <tr>
                        <th>
                        </th>
                    </tr>
                    {% for score in scores %}
                        {% if score.week == week %}
                            <tr>
                                <td>
                                    {{ score.user.first_name }}
                                </td>
                                <td>
                                    {{ score.score }}
                                </td>
                                {% if score.qualifying %}
                                    <td align="center">
                                        Ja
                                    </td>
                                {% else %}
                                    <td align="center">
                                        Nee
                                    </td>
                                {% endif %}
                                <td align="center">
                                    {{ score.finalscore }}
                                </td>
                                <td align="center">
                                    {{ score.baan }}
                                </td>
                                <td align="center">
                                        {{ score.lus }}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
            {% else %}
                <tr>
                    <th>
                        No scores yet
                    </th>
                    <th>
                    </th>
                </tr>
                </table>
            {% endif %}
        <table class="table" ALIGN="center">
            <tr>
                <th align="center">
                    <a href=/><input style="width:250px" type="submit" class="button is-primary"
                                     value="Naar Lentecup Homepage"/>
                    </a>
                </th>
            </tr>
        </table>
    {% endif %}
{% endblock %}