{% extends "base.html" %}
{% block title %}VERANDER WACHTWOORD{% endblock %}
{% block content %}
   {% if form.errors %}
        <table class="table" ALIGN="center">
            <tr>
                <th>

                    <div class="notification is-danger" ALIGN="center">
                        <button class="delete"></button>
                        {% for key, value in form.errors.items %}
                            {{ value }}
                        {% endfor %}
                    </div>

                </th>
            </tr>
        </table>
    {% endif %}

    <table class="table" ALIGN="center">
        <form action="" method="post">{% csrf_token %}


            <div class="field">
                <tr>
                    <th>
                        <p class="control has-icons-left">
                            <input class="input is-primary" type="password" id="id_old_password" name="old_password"
                                   placeholder="Oude wachtwoord....">
                            <span class="icon is-left">
                                    <i class="fas fa-unlock-alt" style="font-size:20px;color:black"></i>
                                </span>
                        </p>
                    </th>
                </tr>
            </div>
            <div class="field">
                <tr>
                    <th>
                        <p class="control has-icons-left">
                            <input class="input is-primary" type="password" id="id_new_password1" name="new_password1"
                                   placeholder="Nieuwe wachtwoord....">
                            <span class="icon is-left">
                                    <i class="fas fa-unlock-alt" style="font-size:20px;color:black"></i>
                                </span>
                        </p>
                    </th>
                </tr>
            </div>
            <div class="field">
                <tr>
                    <th>
                        <p class="control has-icons-left">
                            <input class="input is-primary" type="password" id="id_new_password1" name="new_password1"
                                   placeholder="Herhaal nieuwe wachtwoord....">
                            <span class="icon is-left">
                                    <i class="fas fa-unlock-alt" style="font-size:20px;color:black"></i>
                                </span>
                        </p>
                    </th>
                </tr>
            </div>            <tr
            <tr>
                <th style="text-align:center">
                    <input style="width:250px" type="submit" class="button is-primary" value="Verander wachtwoord"/>
                </th>
            </tr>

        </form>
    </table>
{% endblock %}