{% extends "base.html" %}
{% block title %}LOGGED OUT{% endblock %}
{% block content %}

    <table class="table" ALIGN="center">
        <tr>
            <th style="text-align:center">
                <a href=../accounts/login/><input type="submit" class="button is-primary" value="Opnieuw Inloggen"/></a>
            </th>
        </tr>
        <tr>
            <th style="text-align:center">
                <a href=../ek2020/><input type="submit" class="button is-primary" value="LenteCup"/></a>
            </th>
        </tr>
        <tr>
            <th style="text-align:center">
                <a href=../accounts/login/><input type="submit" class="button is-primary" value="Uitleg"/></a>
            </th>
        </tr>
    </table>

{% endblock %}