{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block content %}
    <table class="table" ALIGN="center">
        <tr>
            <th style="width: 300px" align="center">
                WACHTWOORD RESET EMAIL VERZONDEN
            </th>
        </tr>
        <tr>
            <th style="width: 300px">
                <div class="notification is-primary" ALIGN="center">
                    <button class="delete"></button>
                    Controleer je email-inbox
                    We hebben je de mail toegezonden met de instructies hoe je je wachtwoord kan invoeren.
                        Je zou deze mail spoedig ontvangen. Check ook je SPAM email folder.
                </div>
            </th>
        </tr>
        <tr>
            <div class="field">
                <th style="text-align:center">
                    <a href=/><input style="width:250px" type="submit" class="button is-primary"
                                            value="naar LenteCup hoofdpagina"/></a>
                </th>
            </div>
        </tr>
    </table>

{% endblock %}