{% extends 'base.html' %}

{% block title %}EMAIL VERZONDEN{% endblock %}

{% block content %}

    <h3 ALIGN="center" class="title is-h3 ">WACHTWOORD RESET MAIL VERZONDEN </h3>
    <table class="table" ALIGN="center">
        <tr>
            <th>
                <div class="notification is-primary" ALIGN="center">
                    <h1>Wachtwoord reset afgerond</h1>
                    <p>Je nieuwe wachtwoord is opgeslagen. Je kunt nu inloggen op de <a href="{% url 'login' %}">inlogpagina</a>.</p>
                </div>
            </th>
        </tr>
        <tr>
            <th style="text-align:center">
                <a href=/accounts/login/><input style="width:250px" type="submit" class="button is-primary"
                                                value="Terug naar LenteCup hoofdpagina"/></a>
            </th>
        </tr>
    </table>

{% endblock %}