{% extends "base.html" %}
{% load static %}
{% block title %}LIVE SCORING{% endblock %}
{% block content %}
    {% if scoring %}
        <hr>
{#        {% for group in groups %}#}
{#            <h4 align="center"  class="title is-4">Huidige stand</h4>#}
{#            <h4 align="center" class="title is-4">Groep: {{ group }}></h4>#}
            <table class="table" align="center">
                {#                <th style="font-size: large;font: bold">#}
                {#                    <a href="{% url 'standvoorverlenging' currentleague.pk %}" class="button is-danger">CHECK STAND#}
                {#                        ZONDER VERLENGING</a>#}
                {#                </th>#}
                <tr>
                    <th>Groep</th>
                    <th>Thuisteam</th>
                    <th>Score</th>
                    <th>Uitteam</th>
                    <th>Score</th>
                </tr>
                {% for wedstrijd in allewedstrijden %}
                    {#                    {% if wedstrijd.home.group == group %}#}
                    {#                        {% if wedstrijd.shootout %}#}
                    {#                            {% if wedstrijd.homewonshootout %}#}
                    {#                                <tr>#}
                    {#                                    <th style="font-size: large;font: bold">#}
                    {#                                        {{ wedstrijd.home }} <br> WINT NA STRAFSCHOPPEN#}
                    {#                                    </th>#}
                    {#                                </tr>#}
                    {#                            {% else %}#}
                    {#                                <tr>#}
                    {#                                    <th style="font-size: large;font: bold"#}
                    {#                                    ">#}
                    {#                                    {{ wedstrijd.away }} <br> WINT NA STRAFSCHOPPEN#}
                    {#                                </tr>#}
                    {#                                </tr>#}
                    {#                            {% endif %}#}
                    {#                        {% elif wedstrijd.verlenging %}#}
                    {#                            <tr>#}
                    {#                                <th style="font-size: large;font: bold">#}
                    {#                                    VERLENGING#}
                    {#                                </th>#}
                    {#                            </tr>#}
                    {#                        {% endif %}#}
                    <tr>
                        <td align="center">{{ wedstrijd.home.group }}</td>
                        <td>{{ wedstrijd.home }}</td>
                        <th align="center">{{ wedstrijd.homescore }}</th>
                        <td>{{ wedstrijd.away }}</td>
                        <th align="center">{{ wedstrijd.awayscore }}</th>
                    </tr>
                    {#                    {% endif %}#}
                {% endfor %}
            </table>
{#        {% endfor %}#}
    {% else %}
        <table class="table" align="center">
            <tr>
                <th style="text-align:center">
                    We zitten niet in een fase waar scores kunnen worden getoond
                </th>
            </tr>
        </table>
    {% endif %}
    <table class="table" align="center">
        <tr>
            <th style="text-align:center">
                <a href=wk2022><input style="width:250px" type="submit" class="button is-primary"
                                      value="Terug naar WK 2022"/></a>
            </th>
        </tr>
    </table>
{% endblock content %}