{% extends "base.html" %}
{% block title %}
    <table class="table" ALIGN="center">
        <tr>
            <th style="text-align:center">
                PROGRAMMA OXEL EURO 2020
            </th>
        </tr>
        <tr>
            <th style="text-align:center">
                <i class="fas fa-futbol"></i>
                <i class="fas fa-futbol"></i>
                <i class="fas fa-futbol"></i>
            </th>
        </tr>
    </table>
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <table class="table" ALIGN="center">
            <tr>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>

                <th>
                    VOORBEREIDING
                </th>
            </tr>


            <tr>
                <td>
                    do
                </td>
                <td>
                    3-nov-2022
                </td>
                <td>
                    10:00 uur
                </td>

                <td>
                    Start inschrijving WK 2022
                </td>
            </tr>


            <tr>
                <td>
                    zo
                </td>
                <td>
                    13-nov-2022
                </td>
                <td>
                    20:00 uur
                </td>

                <td>
                    Deadline betaling
                </td>
            </tr>


            <tr>
                <td>
                    zo
                </td>
                <td>
                    13-nov-2022
                </td>
                <td>
                    20:00 uur
                </td>

                <td>
                    Loting per WK 2022 league
                </td>
            </tr>


            <tr>
                <td>
                    ma
                </td>
                <td>
                    14-nov-2022
                </td>
                <td>
                    12:00 uur
                </td>

                <td>
                    Opening veiling 1<br/>
                    Te veilen landen: <br/>
                    Groep A en B en 3 landen groep C
                </td>
            </tr>


            <tr>
                <td>
                    wo
                </td>
                <td>
                    16-nov-2022
                </td>
                <td>
                    20.00 uur
                </td>

                <td>
                    Deadline veiling 1
                </td>
            </tr>


            <tr>
                <td>
                    wo
                </td>
                <td>
                    16-nov-2022
                </td>
                <td>
                    21:00 uur
                </td>

                <td>
                    Resultaten veiling 1
                </td>
            </tr>


            <tr>
                <td>
                    wo
                </td>
                <td>
                    16-nov-2022
                </td>
                <td>
                    21:00 uur
                </td>

                <td>
                    Opening veiling 2<br/>
                    Te veilen landen:<br/>
                    Groep, D, E en 3 landen groep F en<br/>
                    niet verkochte spelers veiling 1
                </td>
            </tr>


            <tr>
                <td>
                    vr
                </td>
                <td>
                    18-nov-2022
                </td>
                <td>
                    20.00 uur
                </td>

                <td>
                    Deadline veiling 2
                </td>
            </tr>


            <tr>
                <td>
                    vr
                </td>
                <td>
                    18-nov-2022
                </td>
                <td>
                    21:00 uur
                </td>

                <td>
                    Resultaten veiling 2
                </td>
            </tr>


            <tr>
                <td>
                    vr
                </td>
                <td>
                    18-nov-2022
                </td>
                <td>
                    21:00 uur
                </td>

                <td>
                    Opening veiling 3<br/>
                    Te veilen landen:<br/>
                    Overige landen, o.a. groep G en H<br/>
                    en niet verkochte spelers veiling 1 en 2
                </td>
            </tr>


            <tr>
                <td>
                    za
                </td>
                <td>
                    19-nov-2022
                </td>
                <td>
                    20.00 uur
                </td>

                <td>
                    Deadline veiling 3
                </td>
            </tr>


            <tr>
                <td>
                    za
                </td>
                <td>
                    19-nov-2022
                </td>
                <td>
                    21:00 uur
                </td>

                <td>
                    Resultaten veiling 3
                </td>
            </tr>


            <tr>
                <td>
                </td>
                <td>

                </td>
                <td>
                </td>

                <th>
                    RONDE 1
                </th>
            </tr>


            <tr>
                <td>
                    za
                </td>
                <td>
                    19-nov-2022
                </td>
                <td>
                    21:00 uur
                </td>

                <td>
                    Opstellingen Ronde 1
                </td>
            </tr>


            <tr>
                <td>
                    zo
                </td>
                <td>
                    20-nov-2022
                </td>
                <td>
                    16:45 uur
                </td>

                <td>
                    START GROEPSFASE 1
                </td>
            </tr>


            <tr>
                <td>
                </td>
                <td>

                </td>
                <td>
                </td>

                <th>
                    16 wedstrijden groepsfase 1
                </th>
            </tr>


            <tr>
                <td>
                    do
                </td>
                <td>
                    24-nov-2021
                </td>
                <td>
                    22:00 uur
                </td>

                <td>
                    EINDE GROEPSFASE 1
                </td>
            </tr>


            <tr>
                <td>
                </td>
                <td>

                </td>
                <td>
                </td>

                <th>
                    RONDE 2
                </th>
            </tr>


            <tr>
                <td>
                    do
                </td>
                <td>
                    24-nov-2022
                </td>
                <td>
                    23:00 uur
                </td>

                <td>
                    Opstellingen Groepsfase 2
                </td>
            </tr>


            <tr>
                <td>
                    vr
                </td>
                <td>
                    25-nov-2022
                </td>
                <td>
                    10:45 uur
                </td>

                <td>
                    START GROEPSFASE 2
                </td>
            </tr>


            <tr>
                <td>
                </td>
                <td>

                </td>
                <td>
                </td>

                <th>
                    16 wedstrijden groepsfase 2
                </th>
            </tr>


            <tr>
                <td>
                    ma
                </td>
                <td>
                    28-nov-2022
                </td>
                <td>
                    22:00 uur
                </td>

                <td>
                    EINDE GROEPSFASE 2
                </td>
            </tr>


            <tr>
                <td>
                </td>
                <td>

                </td>
                <td>
                </td>

                <th>
                    RONDE 3
                </th>
            </tr>


            <tr>
                <td>
                    ma
                </td>
                <td>
                    28-nov-2022
                </td>
                <td>
                    23:00 uur
                </td>

                <td>
                    Opstellingen Groepsfase 3
                </td>
            </tr>


            <tr>
                <td>
                    di
                </td>
                <td>
                    29-nov-2022
                </td>
                <td>
                    15:45 uur
                </td>

                <td>
                    START GROEPSFASE 3
                </td>
            </tr>


            <tr>
                <td>
                </td>
                <td>

                </td>
                <td>
                </td>

                <th>
                    16 wedstrijden groepsfase 3
                </th>
            </tr>


            <tr>
                <td>
                    vr
                </td>
                <td>
                    02-dec-2022
                </td>
                <td>
                    22:00 uur
                </td>

                <td>
                    EINDE GROEPSFASE 3
                </td>
            </tr>


            <tr>
                <td>
                    vr
                </td>
                <td>
                    02-dec-2022
                </td>
                <td>
                    22:00 uur
                </td>

                <td>
                    VERWERKING GROEPSFASE
                </td>
            </tr>


            <tr>
                <td>
                    vr
                </td>
                <td>
                    02-dec-2022
                </td>
                <td>
                    23:45:00 uur
                </td>

                <td>
                    FINALE UITSLAG GROEPSFASE
                </td>
            </tr>


            <tr>
                <td>
                    vr
                </td>
                <td>
                    02-dec-2022
                </td>
                <td>
                    23:50:00 uur
                </td>

                <td>
                    Uitkeren Groepsfase premies
                </td>
            </tr>


            <tr>
                <td>
                </td>
                <td>

                </td>
                <td>
                </td>

                <th>
                    ACHTSTE FINALES
                </th>
            </tr>


            <tr>
                <td>
                    vr
                </td>
                <td>
                    02-dec-2022
                </td>
                <td>
                    23:55:00 uur
                </td>

                <td>
                    Opening veiling Achtste finales
                </td>
            </tr>


            <tr>
                <td>
                    za
                </td>
                <td>
                    3-dec-2022
                </td>
                <td>
                    13:00 uur
                </td>

                <td>
                    Deadline en bekendmaking veiling Achtste finales
                </td>
            </tr>


            <tr>
                <td>
                    za
                </td>
                <td>
                    03-dec-2022
                </td>
                <td>
                    14:00 uur
                </td>

                <td>
                    Opstellingen Achtste finales
                </td>
            </tr>


            <tr>
                <td>
                    za
                </td>
                <td>
                    03-dec-2022
                </td>
                <td>
                    15:45 uur
                </td>

                <td>
                    START ACHTSTE FINALES
                </td>
            </tr>


            <tr>
                <td>
                </td>
                <td>

                </td>
                <td>
                </td>

                <th>
                    8 wedstrijden Achtste finales
                </th>
            </tr>


            <tr>
                <td>
                    di
                </td>
                <td>
                    06-dec-2022
                </td>
                <td>
                    22:45 uur
                </td>

                <td>
                    EINDE ACHTSE FINALES
                </td>
            </tr>


            <tr>
                <td>
                    di
                </td>
                <td>
                    06-dec-2022
                </td>
                <td>
                    22:45 uur
                </td>

                <td>
                    VERWERKING ACHTSE FINALES
                </td>
            </tr>


            <tr>
                <td>
                    di
                </td>
                <td>
                    06-dec-2022
                </td>
                <td>
                    23:00 uur
                </td>

                <td>
                    FINALE UITSLAG ACHTSE FINALES
                </td>
            </tr>


            <tr>
                <td>
                    di
                </td>
                <td>
                    06-dec-2022
                </td>
                <td>
                    23:30 uur
                </td>

                <td>
                    Uitkeren ACHTSE FINALES PREMIES
                </td>
            </tr>


            <tr>
                <td>
                </td>
                <td>

                </td>
                <td>
                </td>

                <th>
                    KWART FINALES
                </th>
            </tr>


            <tr>
                <td>
                    di
                </td>
                <td>
                    06-dec-2022
                </td>
                <td>
                    23:30 uur
                </td>

                <td>
                    Opening veiling Kwart Finales
                </td>
            </tr>


            <tr>
                <td>
                    do
                </td>
                <td>
                    8-dec-2022
                </td>
                <td>
                    20:00 uur
                </td>

                <td>
                    Deadline en bekendmaking veiling Kwart Finales
                </td>
            </tr>


            <tr>
                <td>
                    do
                </td>
                <td>
                    08-dec-2022
                </td>
                <td>
                    21:00 uur
                </td>

                <td>
                    Opstellingen Kwart Finales
                </td>
            </tr>


            <tr>
                <td>
                    vr
                </td>
                <td>
                    09-dec-2022
                </td>
                <td>
                    15:45 uur
                </td>

                <td>
                    START KWART FINALES
                </td>
            </tr>


            <tr>
                <td>
                </td>
                <td>

                </td>
                <td>
                </td>

                <th>
                    4 wedstrijden Kwart finales
                </th>
            </tr>


            <tr>
                <td>
                    za
                </td>
                <td>
                    10-dec-2022
                </td>
                <td>
                    22:45 uur
                </td>

                <td>
                    EINDE KWART FINALES
                </td>
            </tr>


            <tr>
                <td>
                    za
                </td>
                <td>
                    10-dec-2022
                </td>
                <td>
                    23:30 uur
                </td>

                <td>
                    FINALE UITSLAG KWART FINALES
                </td>
            </tr>


            <tr>
                <td>
                    za
                </td>
                <td>
                    10-dec-2022
                </td>
                <td>
                    23:30 uur
                </td>

                <td>
                    UITKEREN PREMIES
                </td>
            </tr>


            <tr>
                <td>
                </td>
                <td>

                </td>
                <td>
                </td>

                <th>
                    HALVE FINALES
                </th>
            </tr>


            <tr>
                <td>
                    za
                </td>
                <td>
                    10-dec-2022
                </td>
                <td>
                    23:55 uur
                </td>

                <td>
                    Opening veiling Halve finales
                </td>
            </tr>


            <tr>
                <td>
                    ma
                </td>
                <td>
                    12-dec-2022
                </td>
                <td>
                    20:00 uur
                </td>

                <td>
                    Deadline veiling Halve finales
                </td>
            </tr>


            <tr>
                <td>
                    ma
                </td>
                <td>
                    12-dec-2022
                </td>
                <td>
                    21:00 uur
                </td>

                <td>
                    Opstellingen Halve finales
                </td>
            </tr>


            <tr>
                <td>
                    di
                </td>
                <td>
                    13-dec-2022
                </td>
                <td>
                    19:45 uur
                </td>

                <td>
                    START HALVE FINALES
                </td>
            </tr>


            <tr>
                <td>
                </td>
                <td>

                </td>
                <td>
                </td>

                <th>
                    2 wedstrijden Halve finales
                </th>
            </tr>


            <tr>
                <td>
                    wo
                </td>
                <td>
                    14-dec-2022
                </td>
                <td>
                    22:45 uur
                </td>

                <td>
                    EINDE HALVE FINALES
                </td>
            </tr>


            <tr>
                <td>
                    wo
                </td>
                <td>
                    14-dec-2022
                </td>
                <td>
                    23:00 uur
                </td>

                <td>
                    FINALE UITSLAG HALVE FINALES
                </td>
            </tr>


            <tr>
                <td>
                    wo
                </td>
                <td>
                    14-dec-2022
                </td>
                <td>
                    23:15 uur
                </td>

                <td>
                    Uitkeren Halve Finale premies
                </td>
            </tr>


            <tr>
                <td>
                </td>
                <td>

                </td>
                <td>
                </td>

                <th>
                    FINALE
                </th>
            </tr>


            <tr>
                <td>
                    wo
                </td>
                <td>
                    14-dec-2022
                </td>
                <td>
                    23:30 uur
                </td>

                <td>
                    Opening veiling Finale
                </td>
            </tr>


            <tr>
                <td>
                    za
                </td>
                <td>
                    17-dec-2022
                </td>
                <td>
                    20:00 uur
                </td>

                <td>
                    Deadline veiling Finales
                </td>
            </tr>


            <tr>
                <td>
                    za
                </td>
                <td>
                    17-dec-2022
                </td>
                <td>
                    20:00 uur
                </td>

                <td>
                    Opstellingen Finale
                </td>
            </tr>


            <tr>
                <td>
                    zo
                </td>
                <td>
                    18-dec-2022
                </td>
                <td>
                    15:45 uur
                </td>

                <td>
                    START FINALE
                </td>
            </tr>


            <tr>
                <td>
                </td>
                <td>

                </td>
                <td>
                </td>

                <td>
                    1 wedstrijd Finale
                </td>
            </tr>


            <tr>
                <td>
                    zo
                </td>
                <td>
                    18-dec-2022
                </td>
                <td>
                    18:45 uur
                </td>

                <td>
                    EINDE FINALE
                </td>
            </tr>


            <tr>
                <td>
                </td>
                <td>

                </td>
                <td>
                </td>

                <th>
                    PRIJSUITREIKING EN NAZORG
                </th>
            </tr>


            <tr>
                <td>
                    zo
                </td>
                <td>
                    18-dec-2022
                </td>
                <td>
                    20:00 uur
                </td>

                <td>
                    FINALE UITSLAG
                </td>
            </tr>


            <tr>
                <td>
                    zo
                </td>
                <td>
                    18-dec-2022
                </td>
                <td>
                    19:00 uur
                </td>

                <td>
                    Uitkeren Finale premies
                </td>
            </tr>


            <tr>
                <td>
                    ma
                </td>
                <td>
                    19-dec-2022
                </td>
                <td>
                    20:00 uur
                </td>

                <td>
                    Uitkeren teambudget aan deelnemer
                </td>
            </tr>
        </table>
        <table class="table" ALIGN="center">
        <tr>
                <th style="text-align:center">
                    <a href=wk2022><input style="width:250px" type="submit" class="button is-primary"
                                                       value="Terug naar EURO2020"/></a>
                </th>
            </tr>
        </table>
    {% else %}
        <h3 ALIGN="center" class="title is-h3">NOT LOGGED IN YET.</h3>
        <h3 ALIGN="center" class="title is-h3">PLEASE GO TO LOGIN PAGE</h3>

        <table class="table" ALIGN="center">
            <tr>
                <th style="text-align:center">
                    <a href=/accounts/login/><input style="width:250px" type="submit" class="button is-primary"
                                                    value="Ga naar Login"/></a>
                </th>
            </tr>
        </table>
    {% endif %}
{% endblock %}
