{% extends "base.html" %}
{% block title %}Real Life WK 2022{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        {% if error %}
            <table class="table" align="center">
                <tr>
                    <th>{{ error }}</th>
                </tr>
            </table>
        {% endif %}
        <table class="table" align="center">
            <tr>
                <th style="text-align:center;width: 300px">
                    <a href="/wk2022/groepstand"><input style="width:250px" type="submit" class="button is-primary"
                                                                          value="Stand Echte WK 2022"/></a>
                </th>
            </tr>
            <tr>
                <th style="text-align:center;width: 300px">
                    <a href="/wk2022/groeprlmatches"><input style="width:250px" type="submit" class="button is-primary"
                                                                          value="Groepsfase WK 2022"/></a>
                </th>
            </tr>
            <tr>
                <th style="text-align:center;width: 300px">
                    <a href="/wk2022/rlkofase"><input style="width:250px" type="submit" class="button is-primary"
                                                                          value="KO-fase WK 2022"/></a>
                </th>
            </tr>

        </table>
    {% endif %}
{% endblock %}
