{% extends "base.html" %}
{% load static %}
{% block title %}
    <table class="table" ALIGN="center">
        <tr>
            <th style="text-align:center">
                FIFA WK 2022 QATAR
            </th>
        </tr>
        <tr>
            <th style="text-align:center">
                Welkom {{ user.first_name }}
            </th>
        </tr>
        <tr>
            <th style="text-align:center">
                <i class="fas fa-futbol"></i>
                <i class="fas fa-futbol"></i>
                <i class="fas fa-futbol"></i>
            </th>
        </tr>
    </table>
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <table class="table" ALIGN="center">
            {% if hoofdmelding1 %}
                <tr>
                    <th>
                        <div class="notification is-info" ALIGN="center">
                            <button class="delete"></button>
                            {{ hoofdmelding1 }}
                        </div>
                    </th>
                </tr>
            {% endif %}
            {% if hoofdmelding2 %}
                <tr>
                    <th>
                        <div class="notification is-info" ALIGN="center">
                            <button class="delete"></button>
                            {{ hoofdmelding2 }}
                        </div>
                    </th>
                </tr>
            {% endif %}
            {% if hoofdmelding3 %}
                <tr>
                    <th>
                        <div class="notification is-info" ALIGN="center">
                            <button class="delete"></button>
                            {{ hoofdmelding3 }}
                        </div>
                    </th>
                </tr>
            {% endif %}
            {% if hoofdmelding4 %}
                <tr>
                    <th>
                        <div class="notification is-info" ALIGN="center">
                            <button class="delete"></button>
                            {{ hoofdmelding4 }}
                        </div>
                    </th>
                </tr>
            {% endif %}
        </table>
        {% if live %}
            <table class="table" ALIGN="center">
                <tr>
                    <th style="text-align:center">
                        <a href="{% url 'livescoring' %}"><input style="width:250px" type="submit"
                                                                 class="button is-danger is-large"
                                                                 value="LIVE SCORING"/></a>
                    </th>
                </tr>
                <tr>
                    <th style="text-align:center">
                        <a href=/wk2022/livescoringshort><input style="width:250px" type="submit"
                                                                class="button is-danger is-large"
                                                                value="LIVE SCORING SHORT"/></a>
                    </th>
                </tr>
            </table>

            {% if livematches == "" %}
                <h5 align="center" class="title is-4">GEEN WK 2022 WEDSTRIJDEN VANDAAG</h5>
            {% else %}
                <h5 align="center" class="title is-4">LIVE wedstrijden WK2022</h5>
                {% for match in livematches %}
                    <table class="table" ALIGN="center">
                        <tr></tr>
                        <td>
                            {% with 'images/'|add:match.home.name|add:'.jpg' as image_static %}
                                <img src="{% static image_static %}" width="30" height="20">
                            {% endwith %}</td>
                        <td>{{ match.home.nlname }}</td>
                        <td>
                            {% with 'images/'|add:match.away.name|add:'.jpg' as image_static %}
                                <img src="{% static image_static %}" width="30" height="20">
                            {% endwith %}
                        </td>
                        <td>{{ match.away.nlname }}</td>
                        {% for key, value in resultaat.items %}
                            {% if key == match %}
                                {% if match.has_ended %}
                                    <td> EINDSTAND</td>
                                    <td>{{ value.0 }}</td>
                                    <th>-</th>
                                    <td>{{ value.1 }}</td>
                                {% elif match.start < nowmatch2 %}
                                    <td> EINDSTAND</td>
                                    <td>{{ value.0 }}</td>
                                    <th>-</th>
                                    <td>{{ value.1 }}</td>
                                {% elif match.start < nowmatch1 %}
                                    <td> LIVE</td>
                                    <td>{{ value.0 }}</td>
                                    <th>-</th>
                                    <td>{{ value.1 }}</td>
                                {% elif match.has_started %}
                                    <td> LIVE</td>
                                    <td>{{ value.0 }}</td>
                                    <th>-</th>
                                    <td>{{ value.1 }}</td>
                                {% else %}
                                    <td>:</td>
                                    <td>Nog</td>
                                    <td>niet</td>
                                    <td>gestart</td>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        </tr>
                    </table>
                    {% if allgoals %}
                        <h6 align="center" class="title is-4">Geregistreerde doelpunten</h6>
                        <table class="table" ALIGN="center">
                        <tr>
                            <th>Minuut</th>
                            <th>Speler</th>
                            <th>Land</th>
                            <th>Type</th>

                        </tr>
                        {% for goal in allgoals %}
                            {% if match == goal.match %}
                                <tr>
                                    <td> {{ goal.minute }}</td>
                                    <td> {{ goal.player }}</td>
                                    <td> {{ goal.player.country.nlname }}</td>
                                    {% if goal.type == "GO" %}
                                        <td> Goal</td>
                                    {% elif goal.type == "PE" %}
                                        <td> Penalty</td>
                                    {% elif goal.type == "OG" %}
                                        <td> Eigen doelpunt</td>
                                    {% endif %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                </table>
                {% endfor %}



            {% endif %}

            <h5 align="center" class="title is-4">LIVE wedstrijden Groep {{ teamgroup }}</h5>
            <table class="table" ALIGN="center">
                {% for wedstrijd in allewedstrijden %}
                    {% if wedstrijd.home.group == teamgroup %}
                        <tr>
                            <td>{{ wedstrijd.home }}</td>
                            <th align="center">{{ wedstrijd.homescore }}</th>
                            <td>{{ wedstrijd.away }}</td>
                            <th align="center">{{ wedstrijd.awayscore }}</th>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        {% endif %}
        <table class="table" ALIGN="center">
            <tr>
                <th style="text-align:center">
                    <a href=/wk2022/myteam><input style="width:250px" type="submit" class="button is-primary"
                                                  value="Jouw Team"/></a>
                </th>
            </tr>
            <tr>
                <th style="text-align:center">
                    <a href=/wk2022/bidmenu><input style="width:250px" type="submit" class="button is-primary"
                                                   value="Biedings menu"/></a>
                </th>
            </tr>
            <tr>
                <th style="text-align:center">
                    <a href=/wk2022/myleague><input style="width:250px" type="submit" class="button is-primary"
                                                    value="Jouw League"/></a>
                </th>
            </tr>
            <tr>
                <th style="text-align:center">
                    <a href=/wk2022/myledger><input style="width:250px" type="submit" class="button is-primary"
                                                    value="Jouw Boekhouding"/></a>
                </th>
            </tr>
            <tr>
                <th style="text-align:center">
                    <a href=/wk2022/rlwk2022><input style="width:250px" type="submit" class="button is-primary"
                                                    value="Info Echte WK 2022"/></a>
                </th>
            </tr>
            <tr>
                <th style="text-align:center">
                    <a href=/wk2022/regels><input style="width:250px" type="submit" class="button is-primary"
                                                  value="Uitleg en Regels"/></a>
                </th>
            </tr>
            <tr>
                <th style="text-align:center">
                    <a href=/wk2022/hulpbieden><input style="width:250px" type="submit" class="button is-primary"
                                                      value="Hulp bij bieden en stand"/></a>
                </th>
            </tr>
            <tr>
                <th style="text-align:center">
                    <a href=../accounts/logout/><input style="width:250px" type="submit" class="button is-primary"
                                                       value="Uitloggen"/></a>
                </th>
            </tr>
        </table>
    {% else %}
        <h3 ALIGN="center" class="title is-h3">NOT LOGGED IN YET.</h3>
        <h3 ALIGN="center" class="title is-h3">PLEASE GO TO LOGIN PAGE</h3>

        <table class="table" ALIGN="center">
            <tr>
                <th style="text-align:center">
                    <a href=/accounts/login/><input style="width:250px" type="submit" class="button is-primary"
                                                    value="Ga naar Login"/></a>
                </th>
            </tr>
        </table>
    {% endif %}
{% endblock %}


