{% extends "base.html" %}
{% block title %}LEAGUE OVERZICHT{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        {% if not teamdata %}
            <table class="table" align="center">
                <tr>
                    <th>
                        <div class="notification is-info" ALIGN="center">
                            <button class="delete"></button>
                            Je hebt nog geen teamnaam aangemaakt. Ga naar het EURO2020 hoofdmenu en kies Jouw Team
                        </div>
                    </th>
                </tr>
            </table>
        {% elif not league %}
            <table class="table" align="center">
                <tr>
                    <th>
                        <div class="notification is-info" ALIGN="center">
                            <button class="delete"></button>
                            Je hebt nog geen league gekozen. Ga naar het EURO2020 hoofdmenu en kies Jouw Team
                        </div>
                    </th>
                </tr>
            </table>
        {% else %}
            <table class="table" align="center">
                <tr>
                    <th style="text-align:center">
                        Leaguenaam: {{ league }}
                    </th>
                </tr>
                <tr>
                    <th style="text-align:center">
                        League Fase: {{ league.gamephase }}
                    </th>
                </tr>
                <tr>
                    <th style="text-align:center">
                        League Kas: {{ league.leaguebalance }} betcoins
                    </th>
                </tr>
                <tr>
                    <th style="text-align:center;width: 300px">
                        <a href="{% url 'teamsperleague' league.pk %}"><input style="width:250px" type="submit"
                                                                              class="button is-primary"
                                                                              value="Bekijk Teams van jouw league"/></a>
                    </th>
                </tr>
                <tr>
                    <th style="text-align:center">
                        <a href="{% url 'leaguestand' league.pk %}"><input style="width:250px" type="submit"
                                                                           class="button is-primary"
                                                                           value="Leaguestand & Schema"/></a>
                    </th>
                </tr>
                <tr>
                    <th style="text-align:center">
                        <a href="{% url 'kofase' %}"><input style="width:250px" type="submit"
                                                                           class="button is-primary"
                                                                           value="Stand & Schema KO Fase"/></a>
                    </th>
                </tr>
                <tr>
                    <th style="text-align:center">
                        <a href="{% url 'assignedbidsperteam' league.pk %}"><input style="width:250px" type="submit"
                                                                                   class="button is-primary"
                                                                                   value="Huidige samenstelling teams"/></a>
                    </th>
                </tr>
                <tr>
                    <th style="text-align:center">
                        <a href=/wk2022/premies><input style="width:250px" type="submit" class="button is-primary"
                                                 value="Overzicht League premies"/></a>
                    </th>
                </tr>
                <tr>
                    <th style="text-align:center">
                        <a href=/wk2022/koscheme><input style="width:250px" type="submit" class="button is-primary"
                                                 value="KO Schema"/></a>
                    </th>
                </tr>
            </table>
        {% endif %}
        <table class="table" align="center">
            <tr>
                <th style="text-align:center">
                    <a href=wk2022><input style="width:250px" type="submit" class="button is-primary"
                                            value="Terug naar EURO2020"/></a>
                </th>
            </tr>
        </table>
    {% endif %}
{% endblock %}
